@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');


.ItemListContainerWrapper {
    width: 85%;
    margin: auto;
    overflow: hidden;
    margin-top: 25px;
    font-size: 20px;
}

.ItemListContainerfont {
    font-family: Outfit;
    font-size: 30px;
}